/*#main-title {
  color:pink;
}
1. Name of color on English
2. HEX value = #000000
3. RGB value = rgb(255,0,0)*/
@font-face {
  font-family: 'Barlow';
  src:url('./css-task/fonts/barlow/fonts/ttf/Barlow-Light.ttf') format('truetype');
  /*src:url('./css-task/barlow/Barlow-Extra\ Bold\ Italic.ttf') format('truetype');*/
  font-weight: normal;
  font-style: normal;
}
/*body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  min-height: auto;
}*/
  body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #b99bac;
  background-size: auto;
  min-height: auto;
}
/*body {
  font-family: 'Barlow';
}*/
.target {
  position: 0;
  top: auto;
  right: 150px;
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 200px;
  margin: 0;
  padding: 5px 5px;
  list-style: none;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  align-items: center;
}

li {
  width: 13px;
  height: 13px;
  font-size: 0;
  background url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/shooter.jpg);
  border: 1px solid #333333;
  border-radius: 50%;
  margin-left: 0;
}

p{
    color: rgb(17, 24, 27);
    font-size: 30px;
    font-family:barlow;
    font-weight:thin;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    text-align: center;
    /*border: 3px solid rgb(197, 13, 13);
    /*margin: 150px 0 150px 0;
    padding: 30px 100px 50px 100px;
    padding-right: 150px;*/
}
span{
    color: #9ce192;
    background-color: #EFF6FF;
    font-size: 30px;
    font-family:'Barlow';
    font: weight bold;
    /*text-decoration: underline;*/
    
}
/*div{
    color: rgb(17, 24, 27);
    /*font-size: 30px;
    font-family:barlow;
    font-weight:thin;
    background-color:#FFFFFF;
    width: 100%;
    height: 100%;
    text-align: center;
    /*border: 3px solid rgb(197, 13, 13);*/
    /*padding: 30px 100px 50px 100px;*/
    /*width: auto;
    /*padding: 50px;*/
}
.card {
  background-color: lightgray;
}
.product {
  padding: 10px;
  border: 1px solid gray;
}
.hit {
  background-color: gold;
}

.sale {
  color: rgb(0, 255, 64);
  font-weight: bold;
}
.product.hit {
  box-shadow: 0 0 10px orange;
}
.window {
    display: flex;
    margin: 50px;
}
.sun{
padding-left: 10px;
}
.container {
  width: 
  height ;
  margin: 150px
  ;
}