/*#main-title {
  color:pink;
}
1. Name of color on English
2. HEX value = #000000
3. RGB value = rgb(255,0,0)*/
@font-face {
  font-family: 'MyFont';
  /*src:url('./css-task/fonts/Barlow-Extra\ Bold.ttf') format('truetype');*/
  src:url('./css-task/barlow/Barlow-Extra\ Bold\ Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}


p{
    color: rgb(67,121,145);
    font-size: 30px;
    /*font-family:barlow;
    font-weight:thin;
    background-color: yellow;
    width: 100%;
    height: 400px;
    text-align: center;
    border: 3px solid rgb(197, 13, 13);
    margin: 150px 0 150px 0;
    padding: 30px 100px 50px 100px;
    padding-right: 150px;*/
}
span{
    color: saddlebrown;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif;
    font: weight 911;
    text-decoration: underline;
}
div{
    width: auto;
    padding: 50px;
}
.card {
  background-color: lightgray;
}
.product {
  padding: 10px;
  border: 1px solid gray;
}
.hit {
  background-color: gold;
}

.sale {
  color: rgb(0, 255, 64);
  font-weight: bold;
}
.product.hit {
  box-shadow: 0 0 10px orange;
}
